@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
